/* @theme alten */

@import 'default';

section {
  background: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
  padding: 180px 70px 70px 70px; /* Augmentation du padding-top */
}

h1, h2, h3, h4, h5, h6 {
  color: #003865;
  font-weight: bold;
}

h1 {
  position: absolute;
  top: 0px;
  left: 170px;
  font-size: 60px;
  color: #003865;
  font-weight: bold;
}

h2 {
  font-size: 45px;
}

/* Header */
header {
  position: absolute;
  top: 80px; /* Positionné sous le titre */
  left: 0;
  right: 0;
  height: 50px;
  background-image: linear-gradient(to right, #156082, #1D94C9);
}

header::after {
  content: '';
  position: absolute;
  top: -70px; /* Ajusté pour remonter le logo */
  left: 70px;
  width: 100px; /* Ajustez la largeur si nécessaire */
  height: 100px; /* Ajustez la hauteur si nécessaire */
  background-image: url('ALTEN-Logo.svg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

/* Footer for page number */
footer {
  position: absolute;
  top: 75px;
  right: 70px;
  color: #555;
  font-size: 20px;
}
